<template name="mobilenav">
<div class="center">

  <ul class="nav nav-pills" role="tablist">
			<!--
				color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                  -->
			<li class="active">
				<a href="#dashboard" role="tab" data-toggle="tab">
					<i class="material-icons">dashboard</i>
					Items
				</a>
			</li>
<!--			<li class="active">
        <a href="#schedule" role="tab" data-toggle="tab">
					<i class="material-icons">schedule</i> Todos
        </a>
      </li> -->
      <li>
        <a href="#tasks" role="tab" data-toggle="tab">
					<i class="material-icons">list</i>  Current
        </a>
      </li>
			<li>
        <a href="#payments" role="tab" data-toggle="tab">
					<i class="material-icons">attach_money</i>  Removed
        </a>
      </li>
    </ul>
  </div>
</template>
