
<template name="landing">
    {{> navbar}}
    <div class="container-fluid bg-gradient">
      <div class="landing-content">
        <div id="hero">
		        <div id="hero-bg"></div>
		          <div id="articles" class="floating s articlesElm" style="opacity: 1; transform: translate(6.65714px, -3.55px);">
			             <div class="element wide">
				              <div class="outer-column">
                        <img class="landing-image" src="img/home.png" alt=""><br/>
                        <a class="landingcta" href="/signup">Create An Account <i class="material-icons">person_add</i></a>
				              </div>
			             </div>
		         </div>
	     </div>
      </div>
    </div>
</template>
