.navbar-default .navbar-nav>li>a {
    color: #525051;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar, .navbar.navbar-default {
    background-color: #ffffff;
    color: #73c4ef;
}

.navbar-default .navbar-brand {
    color: #73c4ef !important;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-size: 30px;
}


@media (max-width: 414px) {
.navbar .navbar-brand {
    height: 50px;
    padding: 10px 15px;
    padding-left: 37% !important;
}
}


.bee{
  height: 20px;

}

.logo-block {
  display: inline;
  position: relative;
}


@media (min-width: 768px) {
.navbar {
    border-radius: 0px !important;
}
}


.bs-component {
  width: 100vw;
  position: absolute;
  left: 0px;
  right: 0px;
}
